extends layout

block content
  h1 Bootstrap starter template
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | All you get is this text and a mostly barebones HTML document.
  h1 Google Static Map
    img(src="https://maps.googleapis.com/maps/api/staticmap?center=Opera+House,Sydney+Australia&zoom=13&size=400x300&markers=-33.8565,151.2151&sensor=false")

